/* CSS stylesheet for digital publication of SBCT programs,
 * adpated from main.css example provided by Nick Homenda */
body {
    margin: 40px auto;
    width: 70%;
    font-family:'Helvetica', 'Sans-Serif';
    color: Black;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: Blue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Georgia', 'Serif';
}
h2 {
    font-size: 2em;
    font-family:'Georgia', 'Serif';
}
p {
    font-size: 1.25em;
    line-height: 1.1em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
} 
th,td {
    border-top: 1px solid black;
    padding: 5px;
}
div {
    border-top: 1px solid black;
    padding-bottom: 15px;
}
.center {
    margin: auto;
    text-align: center;
}
.float {
    float: left;
    margin: auto;
    width: 50%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}
.wrapper {
    padding-bottom: 25px;
}
.stop {
    clear: both;
}
.bioname {
    font-size: 1.35em;
    color: DarkSlateGray;
}