/* CSS stylesheet for digital publication of SBCT programs,
 * adpated from main.css example provided by Nick Homenda */
* {
    box-sizing: border-box;
}
body {
    margin: 30px auto;
    width: 70%;
    font-family: 'Georgia', 'Serif';
    color: Black;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-family: 'Verdana', 'Sans-Serif';
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul.files { 
    margin: 15px auto 30px; 
    font-size: 1.3em;
}
ul.files li {
    list-style: none;
    padding: 5px;
}
a {
    text-decoration: none;
    color: DarkBlue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
p {
    font-size: 1.3em;
    line-height: 1.3em;
}
footer {
    border-top: 1px solid black;
    font-size: .8em;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
} 
th,td {
    border-top: 1px solid black;
    padding: 5px;
}
div {
    border-top: 1px solid black;
    padding-bottom: 15px;
}
.center {
    margin: auto;
    text-align: center;
}
.float {
    float: left;
    margin: auto;
    border: none;
    padding: 5px;
}
.wrapper {
    padding-bottom: 30px;
}
.stop {
    clear: both;
}
.name {
    font-size: 1.35em;
    color: DarkSlateGray;
}
.title {
    font-size: 1.75em;
}
.half {
    width: 50%
}
.side {
    width: 40%
}
.main {
    width: 60%
}