<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/sbct/index.html">Home</a></li>
              <li><a href="/sbct/technical.html">Technical</a></li>
              <li><a href="https://sbct.omeka.net/">Omeka Collection</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/rooneypower">github.com/rooneypower</a></li>
				</ul>
			</footer>
		</body>
	</html>
