---
layout: sbct
title: "SBCT Digital Publishing Project"
---
<h1>{{ page.title }}</h1>
<h2>Featured Programs</h2>
<ul>
	<li><a href="output/item44.xml">Superior Donuts</a></li>
	<li><a href="output/item36.xml">A Body of Water</a></li>
    	<li><a href="output/item38.xml">Doubt</a></li>
	<li><a href="output/item26.xml">Of Mice and Men</a></li>
	<li><a href="output/item28.xml">The Stillborn Lover</a></li>
</ul>
<h2>All Programs</h2>
<ul>
	{% for file in site.static_files %}
		{% assign dirs = file.path | split: '/' %}
		{% if dirs.size > 2 %}
			{% if dirs[1] == 'sbct' and dirs[2] == 'output' %}
	    			<li><a href="{{ site.url }}{{ file.path }}">{{ file.name }}</a></li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
