---
layout: sbct
title: "Technical"
---
<h1>{{ page.title }}</h1>
<p>This page provides the input and transformation files used to produce the program pages for this project. Detailed documentation of the publication process is available in <a href="rooney_final_documentation.docx">this Microsoft Word file</a>.</p>
<h2>Source XML</h2>
<p>These files are formatted in omeka-xml and were exported from the SBCT Digital Program Library. They serve as the initial input for the transformations described below.</p>
<ul class="files">
	{% for file in site.static_files %}
		{% assign dirs = file.path | split: '/' %}
		{% if dirs.size > 2 %}
			{% if dirs[1] == 'sbct' and dirs[2] == 'input' %}
	    			<li><a href="{{ site.url }}{{ file.path }}">{{ file.name }}</a></li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<h2>XSLT</h2>
<p>These are the transformations that represent the technical heart of the project. The first converts the input files into meaningfully-structured XML, and the second styles them for web publication.</p>
<ul class="files">
	{% for file in site.static_files %}
		{% assign dirs = file.path | split: '/' %}
		{% if dirs.size > 2 %}
			{% if dirs[1] == 'sbct' and dirs[2] == 'xslt' %}
	    			<li><a href="{{ site.url }}{{ file.path }}">{{ file.name }}</a></li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
